body {
  background-color:#355448;
  text-align: center;
  color:#fff;
  padding-top:10em;
}

* { color:#fff; text-decoration: none;}

.w3-top {
    position:fixed;
    width:100%;
    z-index:1;
    top:0;
}

.w3-col.s3{
    float: left;
    width:24.99999%
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
