body {
  background-color:#355448;
  text-align: center;
  color:#fff;
}

* { color:#fff; text-decoration: none;}

.w3-top {
    position:fixed;
    width:100%;
    z-index:1;
    top:0;
}

.w3-col.s3{
    float: left;
    width:24.99999%
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.parallax {
  /* The image used */
  background-image: url("sandip-kalal-dG0qAZ2ge0A-unsplash.jpg");

  /* Set a specific height */
  min-height: 675px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-1 {
  /* The image used */
  background-image: url("pexels-picha-6210449.jpg");

  /* Set a specific height */
  min-height: 675px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
