
<%= stylesheet_link_tag "news_scrapper" %>

<div class="w3-top" style="background-color: black; left: 0px">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block w3-black"><a href="https://www.instagram.com/platanopelicula" class="fa fa-instagram"></a></a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block w3-black"><a href="#" class="fa fa-facebook"></a>
    </div>
    <div class="w3-col s3">
      <a href="#menu" class="w3-button w3-block w3-black"><a href="#" class="fa fa-twitter"></a>
    </div>
    <div class="w3-col s3">

      <a href="#about"> /About</a>
    </div>
  </div>
</div>

<div class="parallax">
    <h1 style="
    height: 500px;
    margin-top: 51.44;
    padding-top: 350px;
">
        <a href="" class="typewrite" data-period="2000" data-type='[ "One Movie.", "Two Brothers.", "Platano." ]'>
        </a>
    </h1>
</div>


<div class="breaker" style="width: 100%;">
<div class="container reveal">
    <h1 id="about">Ace Media Productions</h1>
    </div>
    <div class="container reveal">
        <div class="text-container">
        <div class="text-box">
            <p>
                We want to provide an informal guide to the people that feel lost in the mainstream noise and traditional schemes, supplying content that is relatable, progressive, authentic, and spectacular.
            </p>

        </div>

  <div class="container reveal">
      <div class="text-box">

        <p>
            We want to advance the influence of latino/hispanic culture in American mainstream media.
        </p>
    </div>


        <div class="container reveal">
            <div class="text-box">
                <p>
                Encouraging those within the community to stand up and stand out from the noise and become a part of something that they already belong to.
            </p>
        </div>


      </div>
    </div>
  </div>

</div>


<div class="parallax-1">
    <div class="main-content">
        <div class="container reveal-1">
            <p>No Spam or Scam Emails / Unsubscribe Whenever  </p>
            <h1 class="page-title">Subscribe to our Newsletter for News and More!
                <br>

                <i class="fa-regular fa-mailbox"></i>

                <input type="text" name="email" value="email"> </h1>
                </div>
        </div>
</div>












<div class="ticker-wrap">
    <div class="ticker">
        <div class="ticker__item">
            <div class="ticker__item">
                Carribean News </div>
      <% @articles.first(10).each do |article| %>
        <div class="ticker__item">
         <%= article[:headline] %> <%= article[:content] %>
         </div>
      <% end %>
  </div>
  </div>
  </div>
