
<%= stylesheet_link_tag "news_scrapper" %>

<div class="w3-top" style="background-color: black; left: 0px;">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block w3-black">Home</a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block w3-black">About</a>
    </div>
    <div class="w3-col s3">
      <a href="#menu" class="w3-button w3-block w3-black">News</a>
    </div>

</div>

    <h1 style="
    height: 500px;
    margin-top: 51.44;
    padding-top: 150px;
">
        <a href="" class="typewrite" data-period="2000" data-type='[ "One Movie.", "Two Brothers.", "Platano, The Movie.", "Vive La Raza, Latine!" ]'>
        </a>
    </h1>





    <div class="row">
      <div class="column">
      <% @articles.each do |article| %>
      <div class="col-md-4">

          <h1><%= article[:headline] %></h1>
          <p><%= article[:content] %></p>
          <br>

      </div>
      <% end %>
  </div>
      <div class="column"></div>
    </div>
