
<h1>News Scrappers Controller #index</h1>


<%= button_to 'Scrape', scrape_news_scrappers_path %>

<% @articles.each do |article| %>
<div class="col-md-4">

    <h1><%= article[:headline] %></h1>
    <p><%= article[:content] %></p>
    <br>

</div>
<% end %>


<p>Find me in app/views/news_scrappers_controller/index.html.erb</p>
